name = "testjob"
main = "src/index.ts"
compatibility_date = "2024-01-07"

[triggers]
crons = ["* * * * *"]


[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true